/* Color Pallette
#585858
#118C4E
#C1E1A6
#FF9009
*/
body {
    background-color: #FAF7F3;
}
.page-header, .jumbotron, .navbar {
    color: #C1E1A6;
    background-color: #118C4E;
}
.col-sm-6 {
    color: #118C4E;
}
.well {
  background-color: #C1E1A6;
}
