<!DOCTYPE html>
<html>

  {% include head.html %}

    <body id="page-top" class="index">
        <!-- Header -->
        <header>
            <div class="container">
                <div class="intro-text">
                    <div class="intro-lead-in">Products we recommend.</div>
                    <div class="intro-heading">Recommendations</div>
                    <a href="#links" class="page-scroll btn btn-xl">See List</a>
                </div>
            </div>
        </header>
        <section id="links" class="bg-light-gray portfolio">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2 class="section-heading">Products</h2>
                        <h3 class="section-subheading text-muted">Although not directly related to our small business consulting, many ask us for recommendations on various products. Here is list of a variety of items we can point you to.</h3>
                    </div>
                </div>
                <div class="row">
                    <ul>
                        <li>
                            <a href="https://www.amazon.com/gp/product/B001BOVE54/ref=as_li_tl?ie=UTF8&amp;camp=1789&amp;creative=9325&amp;creativeASIN=B001BOVE54&amp;linkCode=as2&amp;tag=carlsonmckinn-20&amp;linkId=dc2cf642f74659876616c12b73f6aede" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=https://www.amazon.com/gp/product/B001BOVE54/ref%3Das_li_tl?ie%3DUTF8%26camp%3D1789%26creative%3D9325%26creativeASIN%3DB001BOVE54%26linkCode%3Das2%26tag%3Dcarlsonmckinn-20%26linkId%3Ddc2cf642f74659876616c12b73f6aede&amp;source=gmail&amp;ust=1484442161828000&amp;usg=AFQjCNG8rgGyBrg0xMHSUT7l31PuiOGyxw">Wellness CORE Natural Grain Free Dry Cat Food</a>
                        </li>
                    </ul>
                </div>
            </div>
        </section>

    </body>
</html>
